# Ignore Python caches and compiled files
__pycache__/
*.py[cod]
*.pyc

# Ignore virtual environments
.venv/
venv/
env/

# Ignore IDE/editor folders
.vscode/
.idea/

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore model artifacts created by training
models/
*.joblib
*.pkl

# Logs and temporary files
logs/
*.log

# Local environment/secrets
.env
secrets.yaml
